<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_MMS" />
    <uses-permission android:name="android.permission.RECEIVE_WAP_PUSH" />
    <!-- Required to interact with system SMS/MMS provider -->
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <!-- Required to read contacts for picking recipients -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- Required to identify SIM cards for dual-SIM support -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- Required to post notifications on Android 13+ -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />


    <application
        android:name=".PixelTextApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PixelText">
        
        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/Theme.PixelText">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.APP_MESSAGING" />
            </intent-filter>
        </activity>

        <!-- 1. BroadcastReceiver for SMS_DELIVER -->
        <receiver
            android:name=".receiver.SmsReceiver"
            android:exported="true"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_DELIVER" />
            </intent-filter>
        </receiver>

        <!-- 2. BroadcastReceiver for WAP_PUSH_DELIVER (MMS) -->
        <receiver
            android:name=".receiver.MmsReceiver"
            android:exported="true"
            android:permission="android.permission.BROADCAST_WAP_PUSH">
            <intent-filter>
                <action android:name="android.provider.Telephony.WAP_PUSH_DELIVER" />
                <data android:mimeType="application/vnd.wap.mms-message" />
            </intent-filter>
        </receiver>

        <!-- 3. Service for RESPOND_VIA_MESSAGE (Quick Response) -->
        <service
            android:name=".service.HeadlessSmsSendService"
            android:exported="true"
            android:permission="android.permission.SEND_RESPOND_VIA_MESSAGE">
            <intent-filter>
                <action android:name="android.intent.action.RESPOND_VIA_MESSAGE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="sms" />
                <data android:scheme="smsto" />
                <data android:scheme="mms" />
                <data android:scheme="mmsto" />
            </intent-filter>
        </service>

        <!-- 4. Activity for SEND and SENDTO -->
        <activity
            android:name=".ComposeSmsActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SENDTO" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="sms" />
                <data android:scheme="smsto" />
                <data android:scheme="mms" />
                <data android:scheme="mmsto" />
            </intent-filter>
        </activity>

        <!-- 5. BroadcastReceiver for notification actions (mark read / reply) -->
        <receiver
            android:name=".receiver.NotificationActionReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="vip.mystery0.pixel.text.action.MARK_READ" />
                <action android:name="vip.mystery0.pixel.text.action.REPLY_SMS" />
            </intent-filter>
        </receiver>

        <!-- 6. BroadcastReceiver for MMS download completion callback -->
        <receiver
            android:name=".mms.MmsDownloadReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="vip.mystery0.pixel.text.action.MMS_DOWNLOADED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>